.movies {
  flex: 1;
}

.movies__button-box {
  padding: 50px 70px 80px;
}

.movies__button {
  display: none;
}

.movies__button_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
  border-radius: 6px;
  padding: 11px 0 9px;
  text-align: center;
  background-color: #F9F9F9;
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.movies__button_active:hover {
  background-color: #E8E8E8;
}

.movies__search-message {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

@media screen and (max-width: 800px) {

  .movies__button-box {
    padding: 50px 10px 80px;
  }

}

@media screen and (max-width: 450px) {
  .movies__search-message {
    font-size: 15px;
    line-height: 27px;
  }
}