.profile {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.profile__title {
  margin: 0 0 123px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  width: 410PX;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__label:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__label:last-of-type {
  margin-top: 17px;
}

.profile__input {
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  transition: background-color 0.3s ease;
}

.profile__input:focus {
  outline: 0;
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.profile__button {
  margin-bottom: 16px;
  border: none;
  background-color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  color: #000;
}

.profile__button:hover {
  text-decoration: underline;
}

.profile__button_disable {
  color: #9c9c9c;
  cursor: default;
}

.profile__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FF4062;
}

.profile__link:hover {
  text-decoration: underline;
}

.profile__error {
  text-align: center;
  font-size: 9px;
  color: #FF4062;
}

.profile__submit-response {
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
}

.profile__submit-response_error{
  color: #ff0000;
}

.profile__submit-response_ok {
  color: #09df26;
}

@media screen and (max-width: 800px) {

  .profile {
    margin-top: 236px;
  }
}

@media screen and (max-width: 500px) {

  .profile {
    margin-top: 70px;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__label {
    width: 260px;
  }

  .profile__buttons {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__link {
    font-size: 12px;
    line-height: 15px;
  }
}