.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.hamburger__close {
  position: absolute;
  right: 22px;
  top: 22px;
  border: 0;
  width: 22px;
  height: 22px;
  background-image: url('../../../images/hamburger__close.svg');
  background-color: #fff;
  background-position: center;
  transition: opacity 0.3s ease;
  z-index: 11;
}

.hamburger__close:hover {
  opacity: 0.7;
}

.hamburger__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 159px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  background-color: #fff;
  gap: 28px;
}

.hamburger__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hamburger__link:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}

.hamburger__profile {
  display: flex;
  align-items: center;
  margin-top: 621px;
}

.hamburger__icon {
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: #F9F9F9;
  border-radius: 6px;
}

@media screen and (max-width: 550px) {

  .hamburger__menu {
    width: 100%;
  }
}