.App {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  background-color: #fff;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}