.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
}

.portfolio__links {
  list-style-type: none;
  padding: 0;
}

.portfolio__link {
  padding: 20px 0 19px;
  display: flex;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__link:hover {
  opacity: 0.6;
}

.portfolio__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__arrow {
  width: 29px;
}

@media screen and (max-width: 769px) {

  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__paragraph {
    font-size: 28px;
  }

  .portfolio__arrow {
    width: 25px;
  }
}

@media screen and (max-width: 600px) {

  .portfolio {
    padding: 0 14px 70px;
  }

  
.portfolio__title {
  margin-bottom: 40px;
  font-size: 14px;
}

.portfolio__paragraph {
  font-size: 18px;
  line-height: 28px;
  }

  .portfolio__arrow {
    width: 15px;
  }
}