.filter-checkbox {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.filter-checkbox__box {
  display: flex;
  justify-content: center;
  background-color: #EBEBEB;
  border-radius: 50px;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.seach-short__item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  align-self: center;
  background-color: #2BE080;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: 1px;
  transition: all 0.5s ease;
}

.seach-short__item_is-selected {
  background-color: rgb(0, 0, 0);
  border: 1px solid #fff;
  transform: translate(-17px, 0px);
  transition: all 0.5s ease;
}

.filter-checkbox__name {
  margin: 0;
  margin-left: 12px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 500px) {

  .filter-checkbox__name {
    font-size: 11px;
    line-height: 18px;
  }
}