.Header{
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  background-color: #FFF;;
}

.Header_isLoggedInMain {
  background-color: #F3C1F8;
}

@media screen and (max-width: 800px) {
  .Header{
    padding: 18px 30px;
  }
}