.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.register__input {
  width: 396px;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
  box-sizing: border-box;
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.register__error {
  height: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
}

@media screen and (max-width: 500px) {

  .register__input {
    width: 260px;
  }

  .register__error {
    width: 260px;
    font-size: 8px;
  }
}