.search-form {
  padding: 70px 70px 48px;
}

.search-form__form {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__group {
  display: flex;
  width: 100%;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__group::before {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.search-form__group_icon::before {
  width: 34px;
  height: 34px;
  background-image: url("../../../images/search-form__icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__input {
  width: 100%;
  padding-left: 67px;
  border: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #A0A0A0;
}

.search-form__input::placeholder {
  color: #A0A0A0;
}

.search-form__input:focus {
  outline: 0;
}

.search-form__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  /* height: 20px;
  width: 20px;
  background-image: url("../../../images/remove.svg");
  background-size: 20px 20px;
  margin-right: 55px; */
}

.search-form__button {
  /* position: absolute;
  top: 6px;
  right: 0;
  margin-left: 3px; */
  width: 59px;
  color: #fff;
  background: #000000;
  border-radius: 48px;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
}

.search-form__button:hover {
  cursor: pointer;
}
