.about-me {
  padding: 110px 70px 100px;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
}

.about-me__group {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 66px 0 18px;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__age-and-profession {
  margin: 0;
  padding: 0;
  max-width: 600px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__biography {
  margin: 26px 0 0;
  padding: 0;
  max-width: 600px;
  max-height: 200px;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__link {
  margin-top: 99px;
  text-decoration: none;
  color: #000;
}

.about-me__link:hover {
  text-decoration: underline;
}

.about-me__photo {
  margin-top: 66px;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}
